<header>
    <h2>Bank</h2>
    <button >
        Profile
    </button>
</header>

<style>
    button{
        background: white;
        color: #004080;
        padding: 8px 16px;
        border-radius: 5px;
        border: none;
    }
    header{
        background: #004080;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h2{
        background: #004080;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>