<header>
    <nav class="nav-bar">
        <div class="bank-logo">
            <a asp-action="Index"><img src="/images/bankLogo.png" /></a>
        </div>
        <ul class="nav-list">
            <li>
                <a asp-action="Wallet" asp-controller="User">
                    Wallet
                </a>
            </li>
            <li>
                <a asp-action="Transactions" asp-controller="User">
                    Transactions
                </a>
            </li>
            <li>
                <a asp-action="Settings" asp-controller="User">
                    Settings
                </a>
            </li>
        </ul>
    </nav>
</header>