<header>
    <nav class="nav-bar">
        <div class="bank-logo">
            <a asp-action="Index" asp-controller="Home"><img src="/images/bankLogo.png" /></a>
        </div>
        <ul class="nav-list">
            @if (ViewBag.CurrentUser != null)
            {
                <li><a asp-controller="User" asp-action="Wallet">Wallet</a></li>
                <li><a asp-controller="User" asp-action="Transactions">Transactions</a></li>
                <li><a asp-controller="User" asp-action="Settings">Settings</a></li>
            }
        </ul>
    </nav>
</header>
