<header>
    <div>
        <h1>Bank</h1>
    </div>
    <nav class="navbar">
        <ul>
            <li>
                <a asp-action="Wallet">
                    <div>
                        Wallet
                    </div>
                </a>
            </li>
            <li>
                <a asp-action="Transactions">
                    <div>
                        Transactions
                    </div>
                </a>
            </li>
            <li>
                <a asp-action="Settings">
                    <div>
                        Settings
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>