<link rel="stylesheet" href="/css/_Navbar.css" />
<header>
    <nav class="nav-bar">
        <div class="bank-logo">
            <a asp-action="Index" asp-controller="Home">
                <img src="/images/bankLogo.png" />
            </a>
        </div>

        <button class="menu-toggle" onclick="toggleMenu()">☰</button>

        <ul class="nav-list" id="navList">
            @if (ViewBag.CurrentUser != null)
            {
                <li><a asp-controller="User" asp-action="Wallet">Wallet</a></li>
                <li><a asp-controller="User" asp-action="Transactions">Transactions</a></li>
                <li><a asp-controller="User" asp-action="Settings">Settings</a></li>
            }
        </ul>
    </nav>
</header>

<script>
    function toggleMenu() {
      const navList = document.getElementById('navList');
      navList.classList.toggle('show');
    }
</script>
