<aside style="width: 200px; background: #f0f0f0; padding: 20px; height: 100vh;">
    <nav>
        <ul style="list-style: none; padding: 0;">
            <li>
                <a asp-action="Wallet">💼 Wallet</a>
            </li>
            <li>
                <a asp-action="Transactions">💳 Transactions</a>
            </li>
            <li>
                <a asp-action="Settings">⚙️ Settings</a>
            </li>
        </ul>
    </nav>
</aside>

<style>
    li{
        margin-top: 10px;
        background: grey;
        padding: 15px;
        font-size: medium;
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: white;
    }
</style>