@{
    ViewData["Title"] = "404 - Page not found";
}

<link rel="stylesheet" href="~/css/notFound.css" />

<div class="error-container">
    <div class="error-code">404</div>
    <div class="error-message">
        <h1>Page not found</h1>
        <a href="/" class="home-btn">Back to main page</a>
    </div>
</div>
